<% layout('../layout/index') %>

<div class="panel-heading">
	Cabinet Setting
	<span style="float: right;"><a href="/cabinet/add">Add new cabinet</a></span>
</div>
<div class="panel-body">
	<table class="table table-sm">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Station</th>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Addr</th>

	      <th scope="col">Pos x</th>
	      <th scope="col">Pos y</th>
	      <th scope="col">Div id</th>
	   
	      <th scope="col">Infos</th>
	      <th scope="col">Note</th>
	      <th scope="col">Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <script type="text/javascript">
	    	var i = 1;
	    </script>
	    <% cabinets.forEach(function(cabinet) { %>
	    	<tr>
		    	<td>
		    		<script type="text/javascript">
				    	document.write(i);
				    	i = i + 1;
				    </script>
				</td>
				<td> <%= cabinet.name %> </td>
				<td> <%= cabinet.name %> </td>
				<td> <%= cabinet.description %> </td>
				<td> <%= cabinet.address %> </td>
				
				<td> <%= cabinet.posx %></td>
				<td> <%= cabinet.posy %></td>
				<td> <%= cabinet.div_id %></td>

				<td> <%= cabinet.information %> </td>
				<td> <%= cabinet.note %> </td>

				<td> <%= cabinet.information %> </td>
				<td class="text-center">
					<a class='btn btn-info btn-xs' href="/cabinet/edit/<%= cabinet.id %>">
						<span class="glyphicon glyphicon-edit"></span>Edit</a>
					<a href="/cabinet/delete/<%= cabinet.id %>" class="btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-remove"></span> Del</a>
				</td>
			</tr>	
	    <% }); %>

	  </tbody>
	</table>
</div>

