<% layout('../layout/index') %>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="panel-heading">
	Station:  <%= station.description %> - All Cabinet
	<span style="float: right;"><a href="/elect/add">Add new station</a></span>
</div>
<style type="text/css">
	.display{
		position: absolute;
		font-size: 7;
	}
</style>
<!--  -->
<div class="panel-body">
<div class="container">
	<div class="row">
		<div class="col-md-12" style="position: relative;">
		<img src="/img/a.jpg" style="width: 100%">

		<% cabinets.forEach(function(cabinet) { %>		
			<p class="display" style="top: calc(<%= cabinet.posy + 0%>%);left: calc(<%= cabinet.posx %>vh);" id="Uab">Uab  = 200 V</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 3%>%);left: calc(<%= cabinet.posx %>vh);" id="Ubc">Ubc  = 200 V</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 6%>%);left: calc(<%= cabinet.posx %>vh);" id="Uca">Uca  = 210 V</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 9%>%);left: calc(<%= cabinet.posx %>vh);" id="Iab">Iab  = 2.5 A</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 12%>%);left: calc(<%= cabinet.posx %>vh);" id="Iab">Ibc  = 2.5 A</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 15%>%);left: calc(<%= cabinet.posx %>vh);" id="Ica">Iab  = 2.5 A</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 18%>%);left: calc(<%= cabinet.posx %>vh);" id="F">F    = 2.5 A</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 21%>%);left: calc(<%= cabinet.posx %>vh);" id="Iab">PF   = 2.5 A</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 24%>%);left: calc(<%= cabinet.posx %>vh);" id="Kwhd">KWh  = 725 Kwh (Day)</p>
			<p class="display" style="top: calc(<%= cabinet.posy + 27%>%);left: calc(<%= cabinet.posx %>vh);" id="Kwht">KWh  = 725 Kwh (Total</p>
		<% }); %>
	</div>
	<div id="map"></div>

		<!--  -->

	  
	</div>
       
    </div>
</div>

